body{
    background-color: rgb(207, 169, 119);
}
/*..............head section.................*/
.head{
   /* border: 2px solid black;*/
    margin: 20px 40px 10px 40px;
    background-color: rgb(123, 197, 197);

    height: 70px;
   /* padding-top: 2%;
    padding-right: 7%;
    padding-bottom: 0%;*/

    display: flex;
}
.head .nav{
    display: flex;
    padding-top: 10px;
    width: 35%;
}
.head .nav ul{
    display: flex;
    list-style-type: none;
   
    
}
.head .nav ul li{   
    margin: auto 6%;  
}
.head .nav ul li a{
    text-decoration: none;
    color: rgb(96, 12, 29);
}
.head .nav ul li a:active{
    text-decoration: none;
    color: rgb(218, 80, 107);
}


.head .title{ 
    position: relative;/*get the distance from its real position*/
    left: 45%;
    text-align: center; 
    display: flex;   
}
/*..............head section.................*/
/*..............middle section.................*/
.middle{
    /* border: 2px solid black;*/
     margin: 0px 50px 10px 50px;
     background-color: bisque;
     color: rgb(121, 7, 7);
     padding-top: 0.5%;
     padding-bottom: 0.5%;
     
 }

 .middle .topic h1{
    text-align: center;
 }
 .middle .para{
    /*border: 2px solid black;*/
    display: flex;
    margin: auto 2%;
    padding: 2%;
    background-color: rgba(127, 255, 212, 0.127);
 }
 .middle .para p{
    /*border: 2px solid black;*/
    text-align: center;
    padding-top: 30px;
    width: 60%;
    color: black;

 }
 .middle .para p:hover{
    background-color: bisque;
    color: rgb(121, 7, 7);
 }
 .middle .para img{
    /*border: 2px solid black;*/
    height: 40%;
    width: 30%;
    margin-left: 7%;
 }

 .middle .button{
    /*border: 2px solid black;*/
    height: 40px;
    margin: auto 50px;
    display: flex;
 }
 .middle .button .b1{
    margin-left: 2%;
    margin-right: 40%;
 }
 .middle .button .b2{
    margin-left: 40%;
 }
 .middle .button button{
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgba(14, 141, 12, 0.462);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .middle .button a{
   text-decoration: none;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: rgb(255, 255, 255);
 }
 
 /*..............end section.................*/
 .tail{
    /* border: 2px solid black;*/
     margin: 0px 40px 10px 40px;
     text-align: center;
     background-color: rgb(89, 143, 143);
 }
 /*..............Thank you.................*/