body{
    background-color: rgb(207, 169, 119);
}
/*..............head section.................*/
.head{
   /* border: 2px solid black;*/
    margin: 20px 40px 10px 40px;
    background-color: rgb(123, 197, 197);

    height: 70px;
   /* padding-top: 2%;
    padding-right: 7%;
    padding-bottom: 0%;*/

    display: flex;
}
.head .nav{
    display: flex;
    padding-top: 10px;
    width: 35%;
}
.head .nav ul{
    display: flex;
    list-style-type: none;
   
    
}
.head .nav ul li{   
    margin: auto 6%;  
}
.head .nav ul li a{
    text-decoration: none;
    color: rgb(96, 12, 29);
}
.head .nav ul li a:active{
    text-decoration: none;
    color: rgb(218, 80, 107);
}


.head .title{ 
    position: relative;/*get the distance from its real position*/
    left: 45%;
    text-align: center; 
    display: flex;   
}
/*..............head section.................*/


/*..............middle section.................*/
.middle{
   /* border: 2px solid black;*/
    margin: 0px 50px 10px 50px;
    background-color: bisque;
    color: rgb(121, 7, 7);
    padding-top: 0.5%;
    padding-bottom: 0%;
    
}

.middle p,h1{
    text-align: center;
}

.para{
    display: flex;

}
.para1 {
    color: blue;
    margin-left: 3%;
    margin-right: 2%;
}
.para2{
    color: rgb(37, 37, 59);
    margin-left: 2%;
    margin-right: 3%;
    
}
.para img{
    height: 57%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*..............middle section.................*/


/*..............end section.................*/
.tail{
   /* border: 2px solid black;*/
    margin: 0px 40px 10px 40px;
    text-align: center;
    background-color: rgb(89, 143, 143);
}


/*..............Thank you.................*/
